@import 'reuse';
@import 'transition';
@import 'font';
@import 'reset';

body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 14px !important;
}

// For Vue Components
:root {
  --site-color-primary: #f0141e;
  --site-color-secondary: #ccc;
  --site-color-default: #fff;
  --site-color-gray: #222;
}

// Local Styles
$site-color-primary: var(--site-color-primary);
$site-color-secondary: var(--site-color-secondary);
$site-color-default: var(--site-color-default);

