// Base and reuses
@import 'base/base';
// Components
@import 'components/components';


.top-bar-nav-bottom {
  padding-bottom: 20px;

  .top-bar-search {
    padding-right: 20px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: right center;

    input {
      padding-left: 15px;
      padding-right: 25px;
      height: 100%;
      border: none;
      border-bottom: 1px solid #515151;
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 18px;

      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }
  }
}

.label {
  font-size: 20px;
  font-weight: 600;
}